*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --email: #4dccf2;
    --title: #e53170;
    --bg-box: #0f0e17;
    --white: #ffffff;
}

.debug {
    border: 1px solid black;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
  
body {
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Fredoka', sans-serif;

}

h1 {
    color: var(--title);
    margin: 2rem;
    font-family: 'Fredoka One', cursive;

}

header {
    text-align: center;
}

.box {
    margin: 1rem;
    width: calc((100% / 3) - 2rem);
    background-color: var(--bg-box);
    color: var(--white);    
}
span {
    color: var(--email);
}
.box img {
    width: 60px;
}

.left {
    float: left;
}
.right {
    float: right;
}